
body{
    margin: 0;
    background-color: #0c161c;
    margin: 0; height: auto;
    width: 100%;

}


.layout{
    display: grid;
    width: 100%;
    min-height: 100vh;
    grid-template-columns: repeat(12,1fr);
}

.sidebar{
    display: block;
    width: 16.667vw;
    height: 100vh;
position: fixed;
    border-right: 1px solid #fff;
    color: #fff;
    
    
}

.SidebarHeader-logo{
    border-bottom: 1px solid #fff;
   
}

.SidebarHeader-logo img{
    width: 100%;
    height:100% ;
    vertical-align: middle;   
}


.sidebar_item{
    font-size: 16px;
    border-bottom: 1px solid #fff;
    padding: 34px ;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: left;
   
}
.container{
    display: grid;
    grid-column: 3/-1;
    margin-left: 20%;
    margin-right: 20%;
}

.Header{
    display: grid;
    grid-column: 3s/-1;
    height: 128px;
    border-bottom: 1px solid #fff;
    
}

.content{
    display: grid;
    grid-template-columns: repeat(12,1fr);
}

.content h1{
    grid-column: 6/9;
    
}

img{

    grid-column: 1/9;
    max-width: 100%;
    align-items: center;

}

.Image_image__1KlNM{
    width: 100%;
    border: 1px solid hsla(0,0%,100%,.3);
    align-items: center;
}

p {
    color: #6d7377;
    font-size: 1.125rem;
    font-family: Graphik,Helvetica,Arial,sans-serif;
    line-height: 1.6111111111;
    justify-content: center;
    margin-top:0 ;
}

h1{
    font-size: 80px;
    font-size: 4.4444444444rem;
    line-height: 1.0069444444;
    font-family: Right Grotesk Tight,Helvetica,Arial,sans-serif;
    color: #fff;
    text-align: left;
    grid-column: 1/9;
}

h2{
    color: #fff;
    font-weight: 700;
    line-height: 100%;
    font-size: 38px;
    grid-column: 1/9;
    text-align: left;

}
h3{
    color: #fff;
    font-size: 30px;
    line-height: 120%;
    margin-bottom: 40px;
    font-weight: 500;
    letter-spacing: -.04em;
    font-weight: 700;
    grid-column: 1/9;
    text-align: centre;

}