
body{
    margin: 0;
    position: relative;

}


.layout{
    display: grid;
    width: 100%;
    min-height: 100vh;
    grid-template-columns: repeat(12,1fr);
}

.sidebar{
    display: block;
    width: 16.667vw;
    height: 100vh;
    border-right: 1px solid #000000;
}

.SidebarHeader-logo{
    border-bottom: 1px solid #000000;
}

.SidebarHeader-logo img{
    width: 100%;
    height:100% ;
    vertical-align: middle;
}


.sidebar_item{
    font-size: 16px;
    border-bottom: 1px solid #000000;
    padding: 34px ;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}
.container{
    display: grid;
    grid-column: 2/-1;
}

.Header{
    display: grid;
    grid-column: 2/-1;
    height: 128px;
    border-bottom: 1px solid #000000;
}

.content{
    display: grid;
    grid-template-columns: repeat(12,1fr);
}

.content h1{
    grid-column: 6/9;

}

.content p{
    grid-column: 4/10;
    justify-content: center;
    margin-top:0 ;

}
.ColorPallete{
  position: static;
}
.hidden{
  visibility: hidden;
}

.sidebar_button{
  height: 100%;
  width: 100%;
  background-color: transparent;
  border-color: transparent;
}
.Color_1{
  grid-column: 2;
  background-color: red;
}
.Color_2{
  grid-column: 3;
  background-color: green;
}
.Color_3{
  grid-column: 4;
  background-color: red;
}
.Color_4{
  grid-column: 5;
  background-color: green;
}
.Color_5{
  grid-column: 6;
  background-color: red;
}
.Color_6{
  grid-column: 7;
  background-color: green;
}
.Background_Color{
  grid-column: 8;
  background-color: red;
}
.Font_Color{
  grid-column: 9;
  background-color: green;
}
.Title_Color{
  grid-column: 10;
  background-color: red;
}
.Header_Color{
  grid-column: 11;
  background-color: green;
}
